*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#box1{
    height: 50px;
    background-color: red;
    display: inline;

}
#box2{
    height: 50px;
    width: 50px;
    background-color: green;
    display: inline;
}
#box3{
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline;
}
#box4{
    height: 50px;
    background-color: red;
    display: block;
}
#box5{
    height: 50px;
    background-color: green;
    display: block;
}
#box6{
    height: 50px;
    background-color: blue;
    display: block;
}