*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#box1{
    height: 50px;
    background-color: red;
    display: inline;

}
#box2{
    height: 50px;
    width: 50px;
    background-color: green;
    display: inline;
}
#box3{
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline;
}
#box4{
    height: 50px;
    background-color: red;
    display: block;
    text-align: center;
}
#box5{
    height: 50px;
    background-color: green;
    display: block;
    text-align: center;
}
#box6{
    height: 50px;
    background-color: blue;
    display: block;
    text-align: center;
}
/*ALL MARGINS/PADDINGS WILL BE CONSIDERED IF WITH DISPLAY inline-block VALUE IS USED IN THE CSS RULE*/
/* DISPLAY:NONE REMOVES ELEMENT FROM DOCUMENT FLOW, THE SPACE IS NOT BLOCKED */
/* WITH VISIBILITY:HIDDEN THE ELEMENT IS NOT VISIBLE BUT SPACE IS RESERVED */
#textprops{
    background-color: yellow;
    text-align: center;
    padding:50px;
    text-decoration: red wavy underline;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 50px;
    font-size: 25px;
    font-family: cursive;
}