*{
    margin:0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
#specimen{
    text-wrap:wrap;
    height: 200px;
    width:200px;
    background-color: yellow;
    color:green;
    padding: 50px;
    border: black 5px dotted;
    margin: 50px;
}