*{
    margin:0;
    padding: 0;
}
/* * Is Reffered To As The Universal Selector, It Applies The Rules On All HTML Elements*/
body{
    background-color:black 
}
div{
    height: 100px;
}
/*Above Are Examples Of Element Selectors Where We Apply Rules To All Tags Of Particular Element */
#first,#fifth{
    background-color: red;
    font-weight: bolder;
}
/*Above Is An Example To Select Multiple Elements*/
#second{
    background-color: green;
    font-weight: bolder;
}
#third{
    background-color: blue;
    font-weight: bolder;
}
/* Above Are Examples Of ID Selectors Where We Reference By The ID Of The HTML Element, This Helps Us Specifically Apply CSS Rules To Targetted Elements */
/* Selectors Are What We Use To Select Which HTML Element/Elements We Want To Style */
.fourth{
    font-weight: bolder;
}
/*
p.red{} selects element with class red within p tag
p#red{} selects element with id red within p tag
*/