/*Layout*/
div{
    background-color: cyan;
    color: red;
    margin: 5px;
    padding: 10px;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* FOR ALIGNMENT OVER MAIN AXIS */
    align-items: flex-start; /* FOR ALIGNMENT OVER CROSS AXIS */
    flex-wrap: wrap;
    gap: 60px;
    flex: 1 1 auto;
}
html,body{
    height: 100%;
}
#name5
{
    align-self: center;
}
