/*SELECTORS*/
/* ELEMENT SELECTOR */
*{
    /*UNIVERSAL SELECTOR, APPLIES TO EVRYTHING*/
    border: solid black 3px;
    margin: 30px;
    padding: 20px;
}
body{
    background-color: cyan;
}
h1{
    color: blue;
    background-color: yellow;
}
/* ID SELECTOR */
#sample-1{
    color: blue;
    background-color: chartreuse;
    height: auto;
    width: auto;
    font-size: 70px;
}
/* CLASS SELECTOR */
.sample-2{
    color: blue;
    background-color: grey;
    height: auto;
    width: auto;
    font-size: 70px;
}
/* ELEMENT WITH CLASS SELECTOR */
p.placeholder{
    color: red;
    background-color: yellowgreen;
    height: auto;
    width: auto;
    font-size: 30px;
}
/*DESCENDANT SELECTOR*/
.sample-2 h6 {
    color:white !important;
}
/*CHILD SELECTOR*/
/* WAY MORE SPECIFIC WILL SELECT THE CHILDEREN WHICH ARE DIRECTLY PART OF SUPER-CLASS/SUPER-ELEMENT */
#sample-1 > h5{
    color: black;
}
p:hover{
    color: blue;
}
#test{
    padding: 100px;
    display: block;
}
/* GROUP SELECTORS */
#test em,strong{
    color:brown;
}
/*NTH OF TYPE SELECTOR*/
#test em:nth-of-type(2){
    color:blue;
}
li:nth-child(1)
{
    color: white;
}
/*ATTRIBUTE SELECTOR*/
/* BELOW EXAMPLE CHECKS WHETHER ATTRIBUTE PRESENT OR NOT*/
/* TO CHECK FOR SPECIFIC VALUE OF ATTRIBUTE ADD CONDITION TO []AS *=*/
a[href]{
    color:brown;
}